<extend name="Public/base" />
<block name="main-content">
	<div class="page-content">
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="space-6"></div>
					<div class="col-sm-7 infobox-container">
						<div class="widget-box sl-indextop10 text-left">
							<div class="widget-header">
								<h5 class="widget-title"><span style="font-size:14px; font-family:Microsoft YaHei">框架&系统信息</span></h5>
							</div>
							<div class="widget-body">
								<div class="widget-main">
									<p class="alert alert-danger sl-line-height25">
										框架版本：ThinkPHP{$info.ThinkPHPTYE}&nbsp;&nbsp;上传附件限制：{$info.ONLOAD}<br />
										系统版本：{$info.RUNTYPE}<br />
									</p>
								</div>
							</div>
						</div>
						<div class="widget-box sl-indextop10 text-left">
							<div class="widget-header">
								<h5 class="widget-title"><span style="font-size:14px; font-family:Microsoft YaHei">按摩推拿</span></h5>
							</div>
							<div class="widget-body">
								<div class="widget-main">
									<p class="alert alert-info sl-line-height25">
										<a href="http://www.sanmi.com" target="_blank" alt="SanmiCMF">您已进入按摩推拿管理后台</a>
										<br />
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="vspace-12-sm"></div>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.col -->
	</div><!-- /.row -->
	</div>
</block>