<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
<rewrite>
<rules>


<rule name="home">
<match url="^((?!(tool/|service/|public/|upfiles/|idcards/)).*)$" ignoreCase="true" />
<conditions>
    <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="true" negate="true" />
</conditions>
<action type="Rewrite" url="/index.php/{R:1}" />
</rule>


<rule name="mini_images">
	<match url="^upfiles/mini_images/([0-9]+/[0-9]+)_([0-9]+x[0-9]+)_([0-9])\.(jpg|jpeg|gif|png)$" ignoreCase="true" />
	<conditions>
		<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="true" negate="true" />
	</conditions>
	<action type="Rewrite" url="/service/imgthumb.php?filename={R:1}&amp;size={R:2}&amp;mode={R:3}&amp;ext={R:4}" />
</rule>

<rule name="idcard1">
	<match url="^idcards/.*$" ignoreCase="true" />
	<action type="Rewrite" url="404.html" />
</rule>

<rule name="idcard">
	<match url="card/([0-9]+/[0-9]+)\.(jpg|jpeg|gif|png)$" ignoreCase="true" />
	<conditions>
		<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="true" negate="true" />
	</conditions>
	<action type="Rewrite" url="/service/idcard.php?file={R:1}&amp;ext={R:2}" />
</rule>

</rules>
</rewrite>
<httpErrors errorMode="Detailed" />
<asp scriptErrorSentToBrowser="false" />
        <handlers>
            <remove name="PHP55_via_FastCGI" />
            <add name="PHP54" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\PHP54\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
  
</system.webServer>
<system.web>
<customErrors mode="Off" />
<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
</system.web>
</configuration>

