<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
	<link rel="stylesheet" type="text/css" href="css/layout.css"/>
</head>
<body>
	<div class="bottomBox1 clearfix">
		<div class="fl">
			<img class="bottomIcon" src="images/tab_home_uns.png"/>
			<span>点餐</span>
		</div>
		<div class="fl">
			<img class="bottomIcon" src="images/tab_jfsc_uns.png"/>
			<span>积分商城</span>
		</div>
		<div class="fl">
			<img class="bottomIcon" src="images/tab_wddd_uns.png"/>
			<span>我的订单</span>
		</div>
		<div class="fl">
			<img class="bottomIcon" src="images/tab_mine_uns.png"/>
			<span>我的</span>
		</div>
	</div>
</body>
</html>