<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>个人中心</title>
	<base href="__PUBLIC__/home/" />
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
	<link rel="stylesheet" type="text/css" href="css/layout.css"/>
</head>

<body style="background: #FFFFFF;">
	<div class="pCenterTop">
		<div class="pCenterTopBox">
			<div class="clearfix bkzlBox">
				<img class="zlImgIcon fl" src="images/mine_bj.png"/>
				<span class="fl">编辑资料</span>
			</div>
			<div class="clearfix">
				<div class="pHeadImgBox fl">
					<img src="images/a.jpg"/>
				</div>
				<div class="psyInfo fl">
					<p class="font20 fontw">张三</p>
					<p>13333333333</p>
				</div>
			</div>
			
		</div>
	</div>
	<div class="psyListBox mt-20">
		<div class="psyList clearfix">
			<img class="fl psyListImg" src="images/mine_wdsc.png"/>
			<div class="fl psyListText">我的收藏</div>
			<img class="fr psyListMoreImg" src="images/more_right.png"/>
		</div>
		<div class="psyList clearfix">
			<img class="fl psyListImg" src="images/mine_wddz.png"/>
			<div class="fl psyListText">我的地址</div>
			<img class="fr psyListMoreImg" src="images/more_right.png"/>
		</div>
		<div class="psyList clearfix">
			<img class="fl psyListImg" src="images/矢量智能对象3.png"/>
			<div class="fl psyListText">配送员入驻</div>
			<div class="fr c99">已入驻</div>
		</div>
		<div class="psyList clearfix">
			<img class="fl psyListImg" src="images/矢量智能对象4.png"/>
			<div class="fl psyListText">帮助中心</div>
			<img class="fr psyListMoreImg" src="images/more_right.png"/>
		</div>
	</div>
</body>
</html>