<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=yes"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>订单详情</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/layer/default/layer.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/layer/layermobile/need/layer.css"/>
</head>
	<style>
	    .selDay{touch-action: none; }
	</style>
<body>
<div class="orderDetailMainBox">
    <div class="orderDetailTop bac-fff p-10">
        <div class="orderDetailTopTitle">{$stall_name}</div>
        <if condition="$list['order_status'] eq 4"><div class="" style="color: green;">已生效</div></if>
        <if condition="$list['order_status'] eq 5"><div class="" style="color: #999999;">已完成</div></if>
        <if condition="$list['order_status'] eq 6"><div class="" style="color: #999999;">已完成</div></if>
        <if condition="$list['order_status'] eq 7"><div class="" style="color: #999999;">已取消</div></if>
        <div class="mt-20">
            <div class="orderCenterProListBox clearfix">
                <img class="tcorderCenterProImg fl" src="{$list.dishes_url}" />
                <div class="fl tcInfoBox">
                    <div class="tcorderCenterProTitle">{$list.dishes_name}</div>
                    <div class="clearfix priceBox">
                        <div class="fl">
                            <span>￥</span>
                            <span>{$list.real_money}</span>
                            <if condition="$list['real_money'] neq $list['dishes_money']">
                                <del class="c99 font12">￥</del>
                                <del class="c99 font12">{$list.dishes_money}</del>
                            </if>
                        </div>
                        <!--<div class="fr">
                            <span>×</span>
                            <span>1</span>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tcxqConBox bac-fff p-10 mt-15">
        <div class="tcxqTitle mb-10 clearfix">
            <div class="fl nacan" id="selNacan1"><span onclick="diningType(1)">早餐</span></div>
            <div class="fl nacan" id="selNacan2"><span onclick="diningType(2)">午餐</span></div>
            <div class="fl nacan" id="selNacan3"><span onclick="diningType(3)">晚餐</span></div>
            <select class="fr selDay" name="weekType" id="selDay">
                <option value="1" <if condition="$list['weekType'] eq 1">selected</if>>周一</option>
                <option value="2" <if condition="$list['weekType'] eq 2">selected</if>>周二</option>
                <option value="3" <if condition="$list['weekType'] eq 3">selected</if>>周三</option>
                <option value="4" <if condition="$list['weekType'] eq 4">selected</if>>周四</option>
                <option value="5" <if condition="$list['weekType'] eq 5">selected</if>>周五</option>
                <option value="6" <if condition="$list['weekType'] eq 6">selected</if>>周六</option>
                <option value="7" <if condition="$list['weekType'] eq 7">selected</if>>周日</option>
            </select>
        </div>
        <if condition="in_array($list['order_status'],array(4,5,6))"><div id="addB"></div></if>

        <input type="hidden" value="{$state}" name="state" id="state">
        <input type="hidden" value="{$list.order_id}" name="orderId" id="orderId">
        <input type="hidden" value="{$list.diningType}" name="diningType" id="diningType">
        <input type="hidden" value="{$list.weekType}" name="weekType" id="weekType">
        <input type="hidden" value="" id="idId">
        <input type="hidden" value="{$list.order_status}" id="status">
        <div id="NextOrder"></div>
        <!--<volist name="goodsData" id="v">
            <div class="clearfix nameBox">
                <div class="tcProName fl">{$v.dishes_name}</div>
                <div class="fr">
                    <span>×</span>
                    <span>{$v.dishes_nums}</span>
                </div>
            </div>
        </volist>-->
    </div>

    <div class="orderDetailPriceBox mt-15 bac-fff">
        <div class="orderDetailPriceList clearfix">
            <div class="fl">订单金额</div>
            <div class="fr">
                <span>￥</span>
                <span>{$list.total_money}</span>
            </div>
        </div>
        <div class="orderDetailPriceList clearfix">
            <div class="fl">赠送积分</div>
            <div class="fr">
                <span>{$list.integral}</span>
            </div>
        </div>
        <div class="orderDetailPriceList clearfix">
            <div class="fl">实付金额</div>
            <div class="fr" style="color: #e04852;">
                <span>￥</span>
                <span>{$list.real_money}</span>
            </div>
        </div>
        <div class="orderDetailPriceList clearfix">
            <div class="fl">备注</div>
            <div class="fr c99">
                {$list.order_note|default="未填写"}
            </div>
        </div>
    </div>

    <!--生效时间和结束时间-->
    <div class="orderDetailPriceBox mt-15 bac-fff">
        <div class="orderDetailPriceList clearfix">
            <div class="fl">生效时间</div>
            <div class="fr">
                {$list.startTime}
            </div>
        </div>
        <div class="orderDetailPriceList clearfix">
            <div class="fl">自动结束时间</div>
            <div class="fr">
                {$list.endTime}
            </div>
        </div>
    </div>

    <!--取餐信息-->
    <div class="qcInfoBox mt-15">
        <div class="orderDetailOrderInfoTitle">取餐信息</div>
        <div class="orderDetailOrderInfoList clearfix bac-fff">
            <div class="fl c99 orderDetailOrderInfoText">档口电话</div>
            <div class="fl">{$list['stall_tel']}</div>
        </div>
        <div class="orderDetailOrderInfoList clearfix bac-fff">
            <div class="c99 orderDetailOrderInfoText">档口地址</div>
            <div class="addrInfo">
                <p>{$list.stall_address}</p>
            </div>
        </div>
    </div>

    <div class="orderDetailOrderInfo mt-15">
        <div class="orderDetailOrderInfoTitle">订单信息</div>
        <div class="orderDetailOrderInfoList clearfix bac-fff">
            <div class="fl c99 orderDetailOrderInfoText">订单编号</div>
            <div class="fl">{$list.order_no}</div>
        </div>
        <div class="orderDetailOrderInfoList clearfix bac-fff">
            <div class="fl c99 orderDetailOrderInfoText">下单时间</div>
            <div class="fl">{$list.create_time|date="Y-m-d H:i",###}</div>
        </div>
        <if condition='$list.order_status eq 2 or $list.order_status eq 3 or $list.order_status eq 4 or $list.order_status eq 5 or $list.order_status eq 6'>
        <div class="orderDetailOrderInfoList clearfix bac-fff">
            <div class="fl c99 orderDetailOrderInfoText">付款时间</div>
            <div class="fl">{$list.payment_time|date="Y-m-d H:i",###}</div>
        </div>
        </if>
    </div>

</div>
<if condition="in_array($state,array(1,2))">
<div class="orderDetailBottBtnBox">
    <if condition="$list['endStatus'] eq 1"><input class="fr orderCenterListBtn lxkhBtn" type="button" onclick="takeFoods({$list.order_id})" value="取餐超时" style="float: left;" /></if>
    <if condition="$state eq 1"><input class="fr orderCenterListBtn bcwcBtn" type="button" onclick="finish({$list.order_id})" value="备餐完成" /></if>
    <if condition="$state eq 2"><input class="fr orderCenterListBtn bcwcBtn qcBtn" type="button" value="取餐" data-id="{$list.order_id}" /></if>
    <a href="tel:{$list.telphone}">
    <input class="fr orderCenterListBtn lxkhBtn" type="button" value="联系客户" /><!--{$list.telphone}-->
    </a>
</div>
</if>

<!--展示取餐码-->
<!--遮罩-->
<div class="mask dis-n"></div>
<form class="form-horizontal ajaxForm" name="form0" method="post" action="{:U('takeFood')}"  enctype="multipart/form-data">
    <div class="qcmLay po-rela dis-n">
        <div class="qcmTitle">输入取餐码</div>
        <input type="hidden" value="" id="orderIds" name="orderIds" />
        <div class="qcmInpBox">
            <input oninput="input(this)" type="number" maxlength="1" name="number1" />
            <input oninput="input(this)" type="number" maxlength="1" name="number2" />
            <input oninput="input(this)" type="number" maxlength="1" name="number3" />
            <input oninput="input(this)" type="number" maxlength="1" name="number4" />
        </div>
        <div class="qcmBtnBox clearfix">
            <input class="qcmCancle fl" type="button" value="取消" />
            <input class="qcmConfirm fl" type="submit" value="确定" />
        </div>
    </div>
</form>
</body>
<script src="__PUBLIC__/home/js/jquery-2.2.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/home/js/mainfile.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/others/jquery.form.js"></script>
<script src="__PUBLIC__/layer/layermobile/layer.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/home/jscript/pass.js" type="text/javascript"></script>
<script>
    //餐品初始状态
    $(function() {
        var orderId     = $("#orderId").val();
        var diningType  = $("#diningType").val();
        var weekType    = $("#weekType").val();
        console.log(diningType);
        console.log(weekType);
        $("#selNacan"+diningType).addClass("selNacan");
        $.ajax({
            type:'post',
            url:"{:U('Stall/Tcorder/NextOrder')}",
            data:{orderId:orderId,diningType:diningType,weekType:weekType},
            success:function(data){
                if(data == 404){
                    var str = '';
                    $("#NextOrder").html(str);
                }else{
                    $("#idId").val(data[0]['id']);
                    var html = '';
                    if(data[0]['state'] == 1){
                        html += '<div class="c-zhu">备餐中</div>';
                    }
                    if(data[0]['state'] == 2){
                        html += '<div class="c-zhu">待取餐</div>';
                    }
                    if(data[0]['state'] == 3){
                        html += '<div class="c-zhu" style="color: #999999">已完成</div>';
                    }
                    $("#addB").html(html);
                    var str = '';
                    for(var a=0;a<data.length;a++) {
                        str += '<div class="clearfix nameBox">';
                        str += '   <div class="tcProName fl">'+data[a]['dishes_name']+'</div>';
                        str += '   <div class="fr">';
                        str += '        <span>×</span>';
                        str += '        <span>'+data[a]['dishes_nums']+'</span>';
                        str += '   </div>';
                        str += ' </div>';
                    }
                    $("#NextOrder").html(str);
                }
            }
        })
    });

    //改变早中晚餐获取餐品
    function diningType(diningType) {
        $("#selNacan1").removeClass("selNacan");
        $("#selNacan2").removeClass("selNacan");
        $("#selNacan3").removeClass("selNacan");
        $("#selNacan"+diningType).addClass("selNacan");
        var orderId     = $("#orderId").val();
        var weekType    = $("#weekType").val();
        $("#diningType").val(diningType);
        $.ajax({
            type:'post',
            url:"{:U('Stall/Tcorder/NextOrder')}",
            data:{orderId:orderId,diningType:diningType,weekType:weekType},
            success:function(data){
                console.log(data);
                var html = '';
                var str = '';
                if(data == '404'){
                    $("div.c-zhu").remove();
                    $("#NextOrder").html(str);
                }else{
                    if(data[0]['state'] == 1){
                        html += '<div class="c-zhu">备餐中</div>';
                    }
                    if(data[0]['state'] == 2){
                        html += '<div class="c-zhu">待取餐</div>';
                    }
                    if(data[0]['state'] == 3){
                        html += '<div class="c-zhu" style="color: #999999">已完成</div>';
                    }
                    if(parseInt($("#status").val()) == 5 || parseInt($("#status").val()) == 6){
                        $("#addB").html(html);
                    }else{
                        if(parseInt($("#idId").val()) >= parseInt(data[0]['id'])){
                            $("#addB").html(html);
                        }else{
                            $("div.c-zhu").remove();
                        }
                    }
                    for(var a=0;a<data.length;a++) {
                        str += '<div class="clearfix nameBox">';
                        str += '   <div class="tcProName fl">'+data[a]['dishes_name']+'</div>';
                        str += '   <div class="fr">';
                        str += '        <span>×</span>';
                        str += '        <span>'+data[a]['dishes_nums']+'</span>';
                        str += '   </div>';
                        str += ' </div>';
                    }
                    $("#NextOrder").html(str);
                }
            }
        })
    }

    //改变日期获取餐品
    $('#selDay').change(function(){
        var orderId     = $("#orderId").val();
        var diningType  = $("#diningType").val();
        var weekType    = $(this).val();
        $("#weekType").val(weekType);
        $.ajax({
            type:'post',
            url:"{:U('Stall/Tcorder/NextOrder')}",
            data:{orderId:orderId,diningType:diningType,weekType:weekType},
            success:function(data){
                console.log(data);
                var html = '';
                var str = '';
                if(data == '404'){
                    $("div.c-zhu").remove();
                    $("#NextOrder").html(str);
                }else{
                    if(data[0]['state'] == 1){
                        html += '<div class="c-zhu">备餐中</div>';
                    }
                    if(data[0]['state'] == 2){
                        html += '<div class="c-zhu">待取餐</div>';
                    }
                    if(data[0]['state'] == 3){
                        html += '<div class="c-zhu" style="color: #999999">已完成</div>';
                    }
                    if(parseInt($("#status").val()) == 5 || parseInt($("#status").val()) == 6){
                        $("#addB").html(html);
                    }else{
                        if(parseInt($("#idId").val()) >= parseInt(data[0]['id'])){
                            $("#addB").html(html);
                        }else{
                            $("div.c-zhu").remove();
                        }
                    }
                    for(var a=0;a<data.length;a++) {
                        str += '<div class="clearfix nameBox">';
                        str += '   <div class="tcProName fl">'+data[a]['dishes_name']+'</div>';
                        str += '   <div class="fr">';
                        str += '        <span>×</span>';
                        str += '        <span>'+data[a]['dishes_nums']+'</span>';
                        str += '   </div>';
                        str += ' </div>';
                    }
                    $("#NextOrder").html(str);
                }
            }
        })
    });

    //备餐完成
    function finish(id){
        $(this).attr("disabled","disabled");
        $.ajax({
            type: 'post',
            url: "{:U('Stall/Tcorder/finishOrder')}",
            data: {id:id},
            success: function (data) {
                if(data.status == 1){
                    layer.open({
                        content: data.info
                        ,skin: 'msg'
                        ,time: 2 //2秒后自动关闭
                        ,end:function () {
                            window.location.href = data.url;
                        }
                    });
                }else{
                    layer.open({
                        content: data.info
                        ,skin: 'msg'
                        ,time: 2 //2秒后自动关闭
                    });
                }
            }
        })
    }
    
    //取餐超时
    function takeFoods(id) {
        $(this).attr("disabled","disabled");
        $.ajax({
            type: 'post',
            url: "{:U('Stall/Tcorder/TakeFoodTimeout')}",
            data: {id:id},
            success: function (data) {
                if(data.status == 1){
                    layer.open({
                        content: data.info
                        ,skin: 'msg'
                        ,time: 2 //2秒后自动关闭
                        ,end:function () {
                            window.location.href = data.url;
                        }
                    });
                }else{
                    layer.open({
                        content: data.info
                        ,skin: 'msg'
                        ,time: 2 //2秒后自动关闭
                    });
                }
            }
        })
    }
</script>
</html>