<extend name="Public/base" />
<block name="main-content">
    <div class="page-content" style="padding-top: 50px">
        <!--主题-->
        <div class="page-header">
            <h1>您当前操作
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>修改地址
                </small>
            </h1>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal ajaxForm" method="post" action="{:U('address_runedit')}">
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 地址名称：  </label>
                        <div class="col-sm-8">
                            <input type="text" name="title" value="{$value.title}" maxlength="10" class="col-xs-10 col-sm-5" required/>
                            <span class="lbl col-xs-12 col-sm-7"><span class="red">*</span></span>
                        </div>
                    </div>
                    <div class="space-4"></div>


                    <input name="id" value="{$value['id']}" type="hidden"/>


                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="submit">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                保存
                            </button>
                            &nbsp; &nbsp; &nbsp;
                            <a href="javascript:history.back(-1)">
                                <i class="ace-icon fa fa-undo bigger-110"></i> 返回
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- /.page-content -->
</block>