<extend name="Admin@Public/base"/>
<block name="main-content">
    <div class="page-content">
        <!--主题-->
        <div class="page-header">
            <h1>
                您当前操作
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    公众号信息编辑
                </small>
            </h1>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div>
                    <form class="form-horizontal ajaxForm" name="form0" method="post" action="{:U('operatorList')}"  enctype="multipart/form-data" onsubmit="return checkdata();">
                        <input type="hidden" name="ma_id" value="{$storeData.ma_id}">
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1">公众号appid：  </label>
                            <div class="col-sm-10">
                                <input type="text" name="appid" placeholder="请输入公众号appid" value="{$storeData.appid}" class="col-xs-10 col-sm-3" required/>
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1">公众号secret：  </label>
                            <div class="col-sm-10">
                                <input type="text" name="appsecret" placeholder="请输入公众号secret" value="{$storeData.appsecret}" class="col-xs-10 col-sm-3" required/>
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1">支付商户号：  </label>
                            <div class="col-sm-10">
                                <input type="text" name="partnerid" placeholder="请输入支付商户号" value="{$storeData.partnerid}" class="col-xs-10 col-sm-3" required/>
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1">支付密钥：  </label>
                            <div class="col-sm-10">
                                <input type="text" name="keycode" placeholder="请输入支付密钥" value="{$storeData.keycode}" class="col-xs-10 col-sm-3" required/>
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1">支付商户名称：  </label>
                            <div class="col-sm-10">
                                <input type="text" name="partner_name" placeholder="请输入支付商户名称" value="{$storeData.partner_name}" class="col-xs-10 col-sm-3" required/>
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 微信支付证书： </label>
                            <div class="col-sm-10">
                                <input type="file" name="payment_certificate" style="display: inline" >
                                <span>
                                    <if condition="$storeData.payment_certificate eq NULL">
                                        未上传证书
                                    <else/>
                                        {$storeData.payment_certificate}
                                    </if>
                                </span>
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 微信支付密钥证书文件： </label>
                            <div class="col-sm-10">
                                <input type="file" name="keycode_certificate" id="file2" style="display: inline" />
                                <span>
                                    <if condition="$storeData.keycode_certificate eq NULL">
                                        未上传证书
                                    <else/>
                                        {$storeData.keycode_certificate}
                                    </if>
                                </span>
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1">Token（令牌）：  </label>
                            <div class="col-sm-10">
                                <input type="text" name="token" placeholder="请输入Token（令牌）"  value="{$storeData.token}" class="col-xs-10 col-sm-3" required/>
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1">设置校验：  </label>
                            <div class="col-sm-10">
                                <input type="text" name="wenben" id="jy" placeholder="请输校验"  value="{$storeData.wenben}" class="col-xs-10 col-sm-3" required/>
                                <div class="col-sm-4">
                                    在【微信公众平台 - 设置 - 公众号设置 - 功能设置 - 网页授权域名】，下载MP_verify_***.txt 链接,将文件中16位字符填入。
                                </div>
                            </div>

                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1">骑手申请审核通过模板ID：  </label>
                            <div class="col-sm-10">
                                <input type="text" name="qs_through_id" id="qs_through_id" placeholder="请输模板ID"  value="{$storeData.qs_through_id}" class="col-xs-10 col-sm-3" required/>
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1">骑手申请审核拒绝模板ID：  </label>
                            <div class="col-sm-10">
                                <input type="text" name="qs_refused_id" id="qs_refused_id" placeholder="请输模板ID"  value="{$storeData.qs_refused_id}" class="col-xs-10 col-sm-3" required/>
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1">订单状态变更(待取餐)模板ID：  </label>
                            <div class="col-sm-10">
                                <input type="text" name="take_food_id" id="take_food_id" placeholder="请输模板ID"  value="{$storeData.take_food_id}" class="col-xs-10 col-sm-3" required/>
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1">订单状态变更(已完成)模板ID：  </label>
                            <div class="col-sm-10">
                                <input type="text" name="been_completed_id" id="been_completed_id" placeholder="请输模板ID"  value="{$storeData.been_completed_id}" class="col-xs-10 col-sm-3" required/>
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1">订单状态变更(已取餐)模板ID：  </label>
                            <div class="col-sm-10">
                                <input type="text" name="yqc_food_id" id="yqc_food_id" placeholder="请输模板ID"  value="{$storeData.yqc_food_id}" class="col-xs-10 col-sm-3" required/>
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1">退款状态变更(拒绝退款)模板ID：  </label>
                            <div class="col-sm-10">
                                <input type="text" name="refund_refused_id" id="refund_refused_id" placeholder="请输模板ID"  value="{$storeData.refund_refused_id}" class="col-xs-10 col-sm-3" required/>
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1">退款状态变更(同意退款)模板ID：  </label>
                            <div class="col-sm-10">
                                <input type="text" name="refund_through_id" id="refund_through_id" placeholder="请输模板ID"  value="{$storeData.refund_through_id}" class="col-xs-10 col-sm-3" required/>
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1">积分变更模板ID：  </label>
                            <div class="col-sm-10">
                                <input type="text" name="integral_change_id" id="integral_change_id" placeholder="请输模板ID"  value="{$storeData.refund_through_id}" class="col-xs-10 col-sm-3" required/>
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info add" type="submit">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    保存
                                </button>
                                <button class="btn" type="button" style="margin-left: 5%" onclick="javascript:window.history.back(-1);">
                                    <i class="ace-icon fa fa-undo bigger-110"></i> 返回
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="scripts">
    <script type="text/javascript">
        function checkdata(){
            var jy = $('#jy').val();
            len = jy.length;
            if(len != 16){
                layer.alert('校验信息必须为16位字符');
                return false;
            }
        }
    </script>
</block>