<extend name="Admin@Public/base" />
<block name="main-content">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/layui/css/layui.css" media="all">
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        input[type="number"]{
            -moz-appearance: textfield;
        }
    </style>
    <div class="page-content">
        <!--主题-->
        <div class="page-header">
            <h1>您当前操作
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>编辑用户
                </small>
            </h1>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal ajaxForm" name="admin_list_add" method="post" action="{:U('memberEdit')}">
                    <input type="hidden" name="member_list_id" value="{$infos.member_list_id}">
                    <div class="form-group" id="pic_list">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1">头像： </label>
                        <div class="col-sm-10">
                            <a href="javascript:;" class="file" title="点击选择所要上传的图片">
                                <input type="file" name="img" id="file0" multiple="multiple"/>
                                选择上传文件
                            </a>&nbsp;&nbsp;
                            <a href="javascript:;" onclick="return backpic('<if condition="$infos.member_list_headpic eq ''">__PUBLIC__/img/no_img.jpg<else/>__ROOT__{$infos.member_list_headpic}</if>');" title="还原修改前的图片" class="file">
                            撤销上传
                            </a>
                            <div><img src="<if condition="$infos.member_list_headpic neq ''">__ROOT__{$infos.member_list_headpic}<else/>__PUBLIC__/img/no_img.jpg</if>" height="70" id="img0" ></div>
                            <span class="lbl col-xs-12 col-sm-7"><span class="red">*图片比例1:1</span></span>
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 昵称：</label>
                        <div class="col-sm-7">
                            <input type="text" name="member_list_nickname" value="{$infos.member_list_nickname}" placeholder="昵称" maxlength="10" class="col-xs-10 col-sm-5" required/>
                            <span class="lbl col-xs-12 col-sm-7"><span class="red">*</span></span>
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 性别：</label>
                        <div class="radio">
                            <label>
                                <input name="member_list_sex" <if condition="$infos['member_list_sex'] eq 1">checked</if> class="ace" value="1" type="radio">
                                <span class="lbl">男</span>
                            </label>
                            <label>
                                <input name="member_list_sex" <if condition="$infos['member_list_sex'] eq 2">checked</if> class="ace" value="2" type="radio">
                                <span class="lbl">女</span>
                            </label>
                            <label>
                                <input name="member_list_sex" <if condition="$infos['member_list_sex'] eq 3">checked</if> class="ace" value="3" type="radio">
                                <span class="lbl">保密</span>
                            </label>
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1">出生日期：  </label>
                        <div class="col-sm-10" id="material">
                            <input name="birthary_time" id="test6" value="<if condition="$infos['birthary_time'] neq ''">{$infos[birthary_time]|date='Y-m-d',###}</if>" type="text" required readonly>
                            <span class="lbl"><span class="red">*</span></span>
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 学校名称：  </label>
                        <div class="col-sm-7">
                            <input type="text" maxlength="20" name="school" value="{$infos.name}" placeholder="" class="col-xs-10 col-sm-5" readonly/>
                            <span class="lbl col-xs-12 col-sm-7"><span class="red">*</span></span>
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 院系： </label>
                        <div class="col-sm-5">
                            <select name="faculty" id="faculty" class="col-sm-5">
                                <option value="">请选择院系</option>
                                <foreach name="faculty" item="v">
                                    <option value="{$v.faculty_id}" <eq name="v.faculty_name" value="$infos.faculty">selected</eq> >{$v.faculty_name}</option>
                                </foreach>
                            </select>
                            <span class="lbl col-xs-12 col-sm-7"><span class="red">*</span></span>
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 班级： </label>
                        <div class="col-sm-5">
                            <select name="member_class" id="member_class" class="col-sm-5">
                                <foreach name="str" item="v">
                                    <option value="{$v}" <eq name="v" value="$infos.member_class">selected</eq> >{$v}</option>
                                </foreach>
                            </select>
                            <span class="lbl col-xs-12 col-sm-7"><span class="red">*</span></span>
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 身高：  </label>
                        <div class="col-sm-7">
                            <input type="number" min="1" maxlength="20" name="stature" step="0.01" max="400" value="{$infos.stature}" placeholder="身高" class="col-xs-10 col-sm-5"/>
                            <span class="lbl col-xs-12 col-sm-7">cm<span class="red">*(限制区间为1-400)</span></span>
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 体重：  </label>
                        <div class="col-sm-7">
                            <input type="number" min="1" maxlength="20" name="weight" value="{$infos.weight}" max="800" step="0.01" placeholder="体重" class="col-xs-10 col-sm-5" required/>
                            <span class="lbl col-xs-12 col-sm-7">kg<span class="red">*(限制区间为1-800)</span></span>
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 手机号：  </label>
                        <div class="col-sm-7">
                            <input type="number" min="1" maxlength="20" name="telphone" value="{$infos.telphone}" placeholder="手机号" class="col-xs-10 col-sm-5" required/>
                            <span class="lbl col-xs-12 col-sm-7"><span class="red">*</span></span>
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <!--<div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 身份证号：  </label>
                        <div class="col-sm-7">
                            <input type="text" maxlength="18" name="id_card" value="{$infos.id_card}" placeholder="身份证号" class="col-xs-10 col-sm-5" required/>
                            <span class="lbl col-xs-12 col-sm-7"><span class="red">*</span></span>
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1">身份证正面： </label>
                        <div class="col-sm-10">
                            <a href="javascript:;" class="file" title="点击选择所要上传的图片">
                                <input type="file" name="card_zheng" id="file1"/>
                                选择上传文件
                            </a>&nbsp;&nbsp;
                            <a href="javascript:;" onclick="return backpic1('<if condition="$infos.card_zheng eq ''">__PUBLIC__/img/no_img.jpg<else/>__ROOT__{$infos.card_zheng}</if>');" title="还原修改前的图片" class="file">
                            撤销上传
                            </a>
                            <div><img src="<if condition="$infos.card_zheng neq ''">__ROOT__{$infos.card_zheng}<else/>__PUBLIC__/img/no_img.jpg</if>" height="70" id="img1" ></div>
                            <span class="lbl col-xs-12 col-sm-7"><span class="red">*图片比例2:1</span></span>
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1">身份证反面： </label>
                        <div class="col-sm-10">
                            <a href="javascript:;" class="file" title="点击选择所要上传的图片">
                                <input type="file" name="card_fan" id="file2"/>
                                选择上传文件
                            </a>&nbsp;&nbsp;
                            <a href="javascript:;" onclick="return backpic2('<if condition="$infos.card_fan eq ''">__PUBLIC__/img/no_img.jpg<else/>__ROOT__{$infos.card_fan}</if>');" title="还原修改前的图片" class="file">
                            撤销上传
                            </a>
                            <div><img src="<if condition="$infos.card_fan neq ''">__ROOT__{$infos.card_fan}<else/>__PUBLIC__/img/no_img.jpg</if>" height="70" id="img2" ></div>
                            <span class="lbl col-xs-12 col-sm-7"><span class="red">*图片比例2:1</span></span>
                        </div>
                    </div>
                    <div class="space-4"></div>-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 注册时间：</label>
                        <div class="col-sm-7">
                            <input type="text" value="{$infos[addtime]|date='Y-m-d H:i:s',###}" placeholder="注册时间" class="col-xs-10 col-sm-5" readonly/>
                            <span class="lbl col-xs-12 col-sm-7"><span class="red">*</span></span>
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 所属商家：  </label>
                        <div class="col-sm-7">
                            <input type="text"  name="ww" value="{$infos.ma_merchantname}" placeholder="所属商家" class="col-xs-10 col-sm-5" readonly/>
                            <span class="lbl col-xs-12 col-sm-7"><span class="red">*</span></span>
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 状态：  </label>
                        <div class="col-sm-7">
                            <input type="text"  name="qq" value="<if condition='$infos.is_open eq 1'>正常<else/>冻结</if>" placeholder="状态" class="col-xs-10 col-sm-5" readonly/>
                            <span class="lbl col-xs-12 col-sm-7"><span class="red">*</span></span>
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="submit">
                                <i class="ace-icon fa fa-check bigger-110"></i>提交
                            </button>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-info" type="button" onclick="javascript:window.history.back(-1);">
                                取消
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- /.page-content -->
    <script src="__PUBLIC__/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <script>
        layui.use('laydate', function() {
            var laydate = layui.laydate;
            //日期范围
            laydate.render({
                elem: '#test6'
            });
        });
    </script>
    <script>
        //班级
        $('#faculty').change(function(){
            var id = $(this).val();
            $.ajax({
                type: 'post',
                url: "{:U('Ajax/Ajax/faculty')}",
                data: {id:id},
                success: function (data) {
                    console.log(data);
                    $('#member_class').html(data);
                }
            })
        })
    </script>
</block>